div.wrapper>div.home-appliances{
    width: 1440px;
    height: 810px;
    margin-left: 39.5px;
    background-image: url(../img/LOB_Bespoke-AI.jpg);
    padding-top: 50px;
    position: relative;
}
div.wrapper>div.home-appliances>div.head{
    width: 1392px;
    height: 45.6px;
    margin: 0 auto;
    text-align: center;
}
div.wrapper>div.home-appliances>div.head>h1{
    font-size: 38px;
    font-family: samsungsans;
    color: black;
    font-weight: 100;
}
div.wrapper>div.home-appliances>div.menu{
    width: 100%;
    height: 46px;
    padding-top: 20px;
}
div.wrapper>div.home-appliances>div.menu>nav{
    width: 100%;
}
div.wrapper>div.home-appliances>div.menu>nav>ul{
    width: 100%;
    text-align: center;
}
div.wrapper>div.home-appliances>div.menu>nav>ul>li{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
div.wrapper>div.home-appliances>div.menu>nav>ul>li>a{
    color: black;
    font-family: samsungsans;
    font-size: 16px;
}
div.wrapper>div.home-appliances>div.menu>nav>ul>li:nth-of-type(1)>a{
    text-decoration: underline;
}
div.wrapper>div.home-appliances>div.text1{
    width: 100%;
    height: 57.6px;
    text-align: center;
    position: absolute;
    top: 620px;
    line-height: 57.6px;
}
div.wrapper>div.home-appliances>div.text1>p{
    font-family: samsungsans;
    font-size: 48px;
}
div.wrapper>div.home-appliances>div.text2{
    width: 100%;
    height: 23.94px;
    text-align: center;
    position: absolute;
    top: 690px;
    line-height: 23.94px;
}
div.wrapper>div.home-appliances>div.text2>p{
    font-family: samsungsans;
    font-size: 14px;
}
div.wrapper>div.home-appliances>div.button{
    width: 100%;
    height: 88px;
    text-align: center;
    position: absolute;
    top: 725px;
}
div.wrapper>div.home-appliances>div.button>button{
    border-radius: 20px;
    width: 101px;
    height: 40px;
    font-family: samsungsans;
    color: white;
    background-color: black;
    cursor: pointer;
    transition: 500ms;
    border: none;
}
div.wrapper>div.home-appliances>div.button>button:hover{
    background-color: rgb(83, 82, 82);
}