div.wrapper>div.privacy{
    width: 1440px;
    height: 106.9px;
    margin-left: 39.5px;
    background-color:white;
    padding-top: 56px;
    border-bottom: 1px solid #a8a1a1;
}
div.wrapper>div.privacy>div.text{
    padding-left: 400px;
    border-top: 1px solid #a8a1a1;
    padding-top: 15px;
}
div.wrapper>div.privacy>div.text>div.text1{
    width: 239px;
    height: inherit;
    display: inline-block;
    vertical-align: top;

}
div.wrapper>div.privacy>div.text>div.text1>p{
    font-size: 14px;
    font-family: samsungsans;
    color: #252525;
}
div.wrapper>div.privacy>div.text>div.text2{
    display: inline-block;
    vertical-align: top;
}
div.wrapper>div.privacy>div.text>div.text2>p{
    font-size: 14px;
    font-family: samsungsans;
    color: #252525;
}
div.wrapper>div.privacy>div.text>div.text3{
    display: inline-block;
    vertical-align: top;
    padding-left: 20px;
    width: 110px;
}
div.wrapper>div.privacy>div.text>div.text3>a{
    font-size: 14px;
    font-family: samsungsans;
    color: #252525;
    text-decoration: underline;
}  